----------------------------------------------------------------
            This system is managed by Ansible.
----------------------------------------------------------------
    OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
    Hostname    : {{ ansible_hostname }}
    IP address  : {{ ansible_default_ipv4.address }}
    System type : {{ ansible_system }}
    Kernel      : {{ ansible_kernel }}
----------------------------------------------------------------
